body{
    font-family: 'lato' , 'sans-serif';
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
   background: #E55473;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 35px;
   border-radius: 5px;

}
.header{
    background-color: #94143067;
    margin: none;

    border: 0px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: none;
    border: 0px;

}
.banner .profile-pic {
    width: 500px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.banner-content{
    max-width: 500px ;
}
.banner-description {
    color: #746d6d;
    font-size: 14px;
    margin-bottom: 30px;
}
.banner-greeting{
    font-size: 45px;
    color: #272727;
    margin-bottom: 0px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.main .section{
    margin-top: 30px;
}
.flowers{
    border-radius: 10px;
    padding: 30px;
    margin: 130px 0px;

}

.flower{
    display: flex;
    gap: 5px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #a59292;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.nick{
    text-align:center;
    color: #272727;
    font
    position: absolute;
    
    

}
.flower_3{
    background-color: #d3cdcd;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    padding: 40px 30px 0px 30px;
    gap: 10px;
    
    
}
.flower_2{
    background-color: #c0eff1;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px 20px 0px 20px;
    gap: 10px
    
    
    
}
.flower_1{
    background-color: #f7cde1;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    padding: 40px 30px 0px 30px;
    gap: 10px;

    
    
}
.link{
    text-align: center;

}
.extra{
    display:flex;
    background-color: #f7cde1;
    text-align: center;
    gap: 24px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 200px;
   margin-right: 50px;
    color:#272727;


}



    
    


