body{
    font-family: 'lato' , 'sans-serif';
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
   background: #E55473;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 35px;
   border-radius: 5px;

}
.header{
    background-color: #94143067;
    margin: none;
    padding-right: 0;

    border: 0px;
    align-items: center;
    justify-content: space-between;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: none;
    border: 0px;
    background-size: cover;
   

}
.banner .profile-pic {
    width: 500px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.banner-content{
    max-width: 500px ;
}
.banner-description {
    color: #746d6d;
    font-size: 14px;
    margin-bottom: 30px;
}
.banner-greeting{
    font-size: 45px;
    color: #272727;
    margin-bottom: 0px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.main .section{
    margin-top: 30px;
}
.flowers{
    border-radius: 10px;
    padding: 30px;
    margin: 130px 0px;

}

.flower{
    display: flex;
    gap: 5px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #a59292;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.nick{
    text-align:center;
    color: #272727;
    font
    position: absolute;
    
    

}
.flower_3{
    background-color: #d3cdcd;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    padding: 40px 30px 0px 30px;
    gap: 10px;
    
    
}
.flower_2{
    background-color: #c0eff1;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px 20px 0px 20px;
    gap: 10px
    
    
    
}
.flower_1{
    background-color: #f7cde1;
    height: 300px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    text-align: center;
    padding: 40px 30px 0px 30px;
    gap: 10px;

    
    
}
.link{
    text-align: center;

}
.extra{
    display:flex;
    background-color: #f7cde1;
    text-align: center;
    gap: 24px;
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 200px;
   margin-right: 40px;
   margin-left: 30px;
    color:#272727;


}
.red{
    margin-top: 95px;
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: #faabbc67;
    

}
.under_red{
    font-size:24px;
    margin-bottom: 30px;
    text-align: center;
}
.description{
    font-size: 14px;
    text-align: center;
    padding: 15px;
    color: #746d6d;
}
.color{
    color: #E55473;
}
.sign{
    text-align: center;
    margin-top: 50px;
}

.img
{
    padding-right: 140px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    
}
.red-flower{
    padding-left: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.insta{
    gap: 24px;
    padding-top: 30px;
}
.picture{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 300px;
    gap: 14px;
    box-shadow: #272727;
    
}
.picture:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .latest{
    justify-content: space-around;
    background-image: url('../flower-shop-assignment/Flower Asset/Rectangle 9.png');
    margin-left: 198px;
    margin-right: 200px;
    padding-bottom: 60px;
    border-radius: 10px;
  }
h2{
    padding: 90px;
    padding-bottom: 2px;
}
.description1{
    font-size: 14px;
    text-align: center;
    padding: 15px;
    color: #746d6d;
    margin-top: 10px;
    padding-top: 5px;

}
.email{
   width: 300px;
   height: 30px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
}
.btn-primary1{
    background: #E55473;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

    
    

